@model NFT_DB_API.Models.NFT
@{
    ViewData["Title"] = "Welcome!";
}
<script>
    function addedNFT() {

        if (document.getElementById("nameInput").value.length == 0)
        {
            alert("Error: NFT Name needed, but not image")
        } else {
            document.getElementById("added").innerHTML = "Success! NFT Added";

        }
    
    }
</script>
    <h1 class="display-4">Welcome to the ASP.NET NFT Demo!</h1>
    
        <div class="form-group">
            <p>NFT Name</p>
            <input id="nameInput" type="text"/>
            <p>Image URL</p>
            <input type="text"/>
        </div>
        <button onclick="addedNFT()">ADD NFT</button>
    

<p id="added"></p>

