@model NFT_DB_API.Models.NFT
@{
    ViewData["Title"] = "Welcome!";
}
<script>
    function addedNFT() {

        if (document.getElementById("nameInput").value.length == 0)
        {
            alert("Error: NFT Name needed, but not image")
        } else {
            document.getElementById("added").innerHTML = "Success! NFT Added. Click on Home to use demo again";

        }
    
    }
</script>
    <h1 class="title">Enter your NFT Name (Required) and Image URL (Optional)</h1>
    
        <div class="form-group">
            <p class="subtitle">NFT Name</p>
            <input id="nameInput" type="text"/>
            <p class="subtitle">Image URL</p>
            <input type="text"/>
        </div>
        <button onclick="addedNFT()">ADD NFT</button>
    

<p id="added"></p>

