@model List<NFT_DB_API.Models.NFT>
@{
    <ul>
    @foreach (var nft in Model)
        {
            <li>@nft.name</li>
            <li>@nft.tokenId</li>
            <li>@nft.image?.originalUrl</li>
        }
    </ul>
}
