@model NFT_DB_API.Models.NFTList
@{
    <ul>
    
    @foreach (var nft in Model.nfts)
        {
            <li>@nft.name</li>
            <li>@nft.tokenId</li>
            <li>@nft.image?.originalUrl</li>
        }
        
    </ul>
    @Html.ActionLink("Add NFT", "Index", "AddNFT")
}
